.body {
  overflow: hidden;
}

.mapboxgl-popup {
  z-index: 100;
}

.mapboxgl-popup-close-button {
  font-size: 20px;
  padding-right: 5px;
}

.mapboxgl-popup-content {
  min-width: 200px;
  max-width: 250px;
}

.form-group {
  padding: 5px;
}

input,
textarea {
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: 1px solid gray;
  padding: 5px 10px;
}

::-webkit-scrollbar {
  display: none;
}
